
# STRIPE
STRIPE_API_KEY=sk_test_51KEdHhCElG9LhuZtmz8FSwTxX5DDSDiPviPGhLLKVYPJE4rWQbvAdWcwDIkKhMdmB7amCM8PM7No6fBQ8fCCRMI100LcJXcI86
NEXT_PUBLIC_STRIPE_PUBLIC_KEY=pk_test_51KEdHhCElG9LhuZtVM9Fluuhg7nmyZRlXKwnsfnfJbiywXnrIvyGv4m6biX6FiOamQKLjAbUfnQglplChRImQnXZ0018QzL6Y9
STRIPE_WEBHOOK_SECRET=whsec_e9UjVuPe6LfWM9q7sQucWvV1U9adj8zV
STRIPE_SUCCESS_URL=http://localhost:3000/posts
STRIPE_CANCEL_URL=http://localhost:3000/


# GITHUB
GITHUB_ID=
GITHUB_SECRET=

# FAUNADB
FAUNADB_KEY=

# JWT
JWT_SIGNING_PRIVATE_KEY=

NEXTAUTH_URL=

# Prismic CMS
PRISMIC_ENDPOINT=
PRISMIC_ACCESS_TOKEN=